{% extends "::base.html.twig" %}
    {% block title 'Tasks' %}

    {% block header %}
    {% endblock %}

{% block content %}

    <div class="col-md-3">
        <h2>Cat. <span class="badge badge-pill badge-info">1</span></h2>
        <div class="card text-center">
            <div class="card-header">
                Name.<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="card-block">
                <p class="card-text">Description.</p>
                <a href="#" class="btn btn-danger">delete</a>
            </div>
            <div class="card-footer text-muted">
                CreatedAgo.
            </div>
        </div>
    </div>
        No Tasks

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
