.clickable{
    cursor: pointer;
}
.column h3{
    padding-top: 42px!important;
}
.column .card{
    margin-top: 30px!important;
}

.nav-item{
    padding-left: 15px!important;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}